<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.smart.test.foo" >
  <uses-sdk android:minSdkVersion="9"/>
  <application>
    <meta-data
        android:name="org.smart.test.foo.version"
        android:value="@integer/org_smart_test_foo_version" />
  </application>
</manifest> 
